{% extends "master.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Dashboard</h1>
</div>

<div class="container">
  <div class="row g-4 justify-content-center">
    <!-- Employees Card -->
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-header">
          <h2>Employees</h2>
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-text">Number of Employees</h3>
          <h4>{{ user_count }}</h4>
        </div>
        <div class="card-footer mt-auto">
          <a href="{% url 'manage_users' %}">
            <button type="button" class="btn btn-primary">Manage Employees</button>
          </a>
        </div>
      </div>
    </div>
    <!-- Documents Card -->
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-header">
          <h2>Documents</h2>
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-text">Number of Documents</h3>
          <h4>{{ document_count }}</h4>
        </div>
        <div class="card-footer mt-auto">
          <a href="{% url 'manage_documents' %}">
            <button type="button" class="btn btn-primary">Manage Documents</button>
          </a>
        </div>
      </div>
    </div>
    <!-- Jobs Card -->
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-header">
          <h2>Jobs</h2>
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-text">Number of Jobs</h3>
          <h4>{{ job_count }}</h4>
        </div>
        <div class="card-footer mt-auto">
          <a href="{% url 'manage_jobs' %}">
            <button type="button" class="btn btn-primary">Manage Jobs</button>
          </a>
        </div>
      </div>
    </div>
    <!-- Roles Card -->
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-header">
          <h2>Roles</h2>
        </div>
        <div class="card-body d-flex flex-column">
          <h3 class="card-text">Number of Roles</h3>
          <h4>{{ role_count }}</h4>
        </div>
        <div class="card-footer mt-auto">
          <a href="{% url 'manage_roles' %}">
            <button type="button" class="btn btn-primary">Manage Roles</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
