{% extends "master.html" %}

{% block title %}
  Edit Job
{% endblock %}

{% block content %}
<div class="container center-container mt-3">
  <div class="row mx-3">
    <h1 class="text-start col-8">Edit Job</h1>
    <div class="col-4 d-flex justify-content-end"></div>
    <form action="{% url 'update_job' job.JobID %}" method="post">
      {% csrf_token %}
      <!-- Input fields to edit job details -->
      <input type="text" name="job_name" value="{{ job.Job_Name }}">
      <textarea name="job_description">{{ job.Job_Description }}</textarea>
      <!-- Other input fields for job details -->
      <button type="submit">Update Job</button>
    </form>
  </div>
</div>
{% endblock %}
