{% extends "master.html" %}

{% block title %}
  Manage Users
{% endblock %}

{% block content %}
<div class="container center-container mt-3">
    <div class="row mx-3">
        <h1 class="text-start col-8">Manage Users</h1>
        <div class="col-4 d-flex justify-content-end">
            <a href="{% url 'new_user' %}">
                <button type="button" class="btn btn-primary me-2">Add New User</button>
            </a>
            <button type="button" class="btn btn-primary pe-2" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filter</button>
        </div>
    </div>
    <div class="collapse my-1" id="collapseExample">
        <div class="card card-body">
            <form id="filterForm">
                <div class="mb-3">
                    <label for="userFirstNameInput" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="userFirstNameInput" name="first_name" placeholder="Enter First Name">
                </div>

                <div class="mb-3">
                    <label for="userLastNameInput" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="userLastNameInput" name="last_name" placeholder="Enter Last Name">
                </div>

                <div class="mb-3">
                    <label for="userEmailInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="userEmailInput" name="email" placeholder="Enter Email">
                </div>

                <div class="mb-3">
                    <label for="userContactInput" class="form-label">Contact Number</label>
                    <input type="text" class="form-control" id="userContactInput" name="contact_number" placeholder="Enter Contact Number">
                </div>

                <button type="submit" class="btn btn-primary">Apply Filter</button>
                <button type="submit" class="btn btn-danger">Reset Filter</button>
            </form>
        </div>
    </div>
</div>

<div id="userList">
    {% for user in user_list %}
    <div class="user-card card container my-4">
        <div class="card-header">
        {{user.UserID}} | {{ user.first_name }} {{ user.last_name }}
        </div>
        <div class="card-body">
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Contact Number: {{ user.Contact_Number }}</p>
            <a href="{% url 'edit_user' UserID=user.UserID %}" class="btn btn-primary">Edit User</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
