{% extends "master.html" %}

{% block title %}
  Manage Jobs
{% endblock %}

{% block content %}
    
<div class="container row"> 
     <h1 class="text-start col-8">Manage Jobs</h1>
<div class="">
     <a href="{% url 'manage_job' %}">
          <button type="button" class="btn btn-primary col-2">Add New Job</button>
     </a>

     <a>
          <button type="button" class="btn btn-primary col-2">Filter</button>
     </a>
</div>
</div>
<div>
     {% for Job in Job_list %}
     <div class="card container my-4">
          <div class="card-header">
               {{Job.Job_Name}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{Job.Job_Description}}</h5>
            <p class="card-text">Created On The {{Job.Created_Date}}</p>
            <a href="#" class="btn btn-primary">Edit Job</a>
          </div>
        </div>
        {% endfor %}
</div>        
{% endblock %}