html{
    font-size: 100%;
}
body{
    background: rgb(230, 230, 230) !important;
    color: #1d1d1d;
}
footer{
    background: #00aee8;
    color: #1d1d1d;
}
.content{
    min-height: calc(100vh - 88px);
}
